<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="skadoosh.DroidPhone" android:versionCode="1" android:versionName="1.0.0.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
	<application android:label="skadoosh" android:theme="@style/Theme.skadoosh" android:icon="@drawable/ic_launcher"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>