<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ae025920-cf9f-4da2-ab69-d9a93304a04f" Publisher="CN=lbrown" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Skadoosh.Store</DisplayName>
    <PublisherDisplayName>lbrown</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Skadoosh.Store.App">
      <VisualElements DisplayName="Skadoosh" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Skadoosh.Store" ForegroundText="light" BackgroundColor="#333333">
        <DefaultTile ShowName="allLogos" ShortName="Skadoosh" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>