<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Statra.SkadooshTablet" Publisher="CN=B2BC4B4B-426A-4B69-A7AD-349094A9F186" Version="1.0.1.14" />
  <Properties>
    <DisplayName>Skadoosh Tablet</DisplayName>
    <PublisherDisplayName>Statêra</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Skadoosh.Store.App">
      <VisualElements DisplayName="Skadoosh Tablet" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Skadoosh.Store" ForegroundText="dark" BackgroundColor="#ffffff" ToastCapable="true">
        <DefaultTile ShowName="allLogos" ShortName="Skadoosh" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="txtfile">
            <DisplayName>CSV Export</DisplayName>
            <InfoTip>CSV Export</InfoTip>
            <SupportedFileTypes>
              <FileType>.csv</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>